.albumItem {
    width: 300px;
    background-color: 'lightPink';
    cursor: pointer;
    color: rgb(255, 232, 232);
}

.albumItem:hover {
    background-color: rgb(244, 175, 175);
    color: rgb(0, 0, 0);
}